@model GTIMVC.MODEL.Cliente

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div class="jumbotron">
    <a href="Cliente/Form" Class="btn btn-primary btnCad" style="Height: 220px; Width: 220px; border-top-width: 90px; ">Cadastrar Clientes</a>
    <a href="Cliente/Index" Class="btn btn-primary btnCad" style="Height: 220px; Width: 220px; border-top-width: 90px;">Clientes Cadastrados</a>
    <a href="Produto/FormProduto" Class="btn btn-primary btnCad" style="Height: 220px; Width: 220px; border-top-width: 90px; ">Cadastrar Produtos</a>
    <a href="Produto/Index" Class="btn btn-primary btnCad" style="Height: 220px; Width: 220px; border-top-width: 90px;">Produtos Cadastrados</a>
</div>
